body {
  height: 100%;
}

.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation-bar li {
  float: left;
}

.navigation-bar li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}

.navigation-bar li a img {
  margin: 0;
  padding: 0;
}
.sidenav {
  height: 100%;
  width: 16%;
  position: fixed;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}
.sidenav a:hover {
  background-color: white;

}

.booklist {
  margin-left: 20%;
  width: 80%;
}

.booklist a {
  text-decoration: none;
}

.book-items {
  margin: auto;
  padding: 2px;
}

.book-detail-section {
  width: 80%;
  margin: auto;
}

.book-detail {
  margin-top: -5px;
  line-height: 0.6;
}
.login-section{
  width: 60%;
  margin: 2% auto auto;
}
.signup-section{
  width: 60%;
  margin: 2% auto auto;
}
.password-reset-section{
  width: 60%;
  margin: 2% auto auto;
}



