h1 {
    color: red;
}

.book-cover-image {
    height: 200px;
    width: auto;
}

.navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navigation ul li {
    display: inline;
}

.navigation ul li a {
    display: inline;
    padding: 5px 7px;
    text-decoration: none;
}
.navigation ul li:hover{
    border-radius: 5px;
    padding: -6px;
    font-style: oblique;
}

.right-nav-links {
    float: right;
    padding-top: 4px;
}

.login-section {
    margin: auto;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
}
.signup-section {
    margin: auto;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
}

